@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dwk8sj');
  src:  url('fonts/icomoon.eot?dwk8sj#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?dwk8sj') format('truetype'),
        url('fonts/icomoon.woff?dwk8sj') format('woff'),
        url('fonts/icomoon.svg?dwk8sj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-template:before {
  content: "\e900";
}
.icon-AlwaysOn:before {
  content: "\e901";
}
.icon-CraneyStorker:before {
  content: "\e902";
}
.icon-DailyLife:before {
  content: "\e903";
}
.icon-DaisyTown:before {
  content: "\e904";
}
.icon-FlowerChild:before {
  content: "\e905";
}
.icon-GroupTherapy:before {
  content: "\e906";
}
.icon-HeartOfTheMatter:before {
  content: "\e907";
}
.icon-KingFisher:before {
  content: "\e908";
}
.icon-LickenMoss:before {
  content: "\e909";
}
.icon-LifeLister:before {
  content: "\e90a";
}
.icon-NameGiver:before {
  content: "\e90b";
}
.icon-NightOwl:before {
  content: "\e90c";
}
.icon-NotABug:before {
  content: "\e90d";
}
.icon-RatKing:before {
  content: "\e90e";
}
.icon-SelfPolinator:before {
  content: "\e90f";
}
.icon-SocialButterfly:before {
  content: "\e910";
}
.icon-ToadsAndToadstools:before {
  content: "\e911";
}
.icon-TooManyBugs:before {
  content: "\e912";
}
.icon-TryMammals:before {
  content: "\e913";
}
.icon-WorldClass:before {
  content: "\e914";
}
